.forgot-button {
    background-color: #5710D1 !important;
    border: none;
    color: white !important;
    padding: 10px 20px;
    font-size: 18px;
    width: 343px;
    border-radius: 20px !important;
   
    
  }
